*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 1rem;
}
ul, li, a{
    list-style: none;
    text-decoration: none;
    color: var(--color-red-pink);
}
button {
    outline: none;
    border: none;
}
::-webkit-scrollbar {
    display: none;
}

